 <!-- ##### MAIN PANEL ##### -->
 <div class="kt-mainpanel">


  <div class="kt-pagebody">

    <div class="card pd-20 pd-sm-40">
      <h6 class="card-body-title">Medium Editor Plugin</h6>
      <p class="mg-b-20 mg-sm-b-30">Below is an example of a basic inline editing using medium-editor.</p>

      <p>Try highlighting some of the text below.</p>
      <div class="editable tx-16 bd pd-30 tx-inverse">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</div>
    </div><!-- card -->

    <p class="tx-11 tx-uppercase tx-spacing-2 mg-t-40 mg-b-10 tx-gray-600">HTML Code</p>
    <pre><code class="html pd-20">&lt;div class="editable"&gt;One morning, when...&lt;/div&gt;</code></pre>

    <p class="tx-11 tx-uppercase tx-spacing-2 mg-t-40 mg-b-10 tx-gray-600">Javascript Code</p>
    <pre><code class="javascript pd-20">var editor = new MediumEditor('.editable');</code></pre>

    <div class="card pd-20 pd-sm-40 mg-t-50">
      <h6 class="card-body-title">Summernote Editor</h6>
      <p class="mg-b-20 mg-sm-b-30">A super simple WYSIWYG editor on Bootstrap.</p>
      <div id="summernote">Hello, universe!</div>
    </div><!-- card -->

    <p class="tx-11 tx-uppercase tx-spacing-2 mg-t-40 mg-b-10 tx-gray-600">HTML Code</p>
    <pre><code class="html pd-20">&lt;div id="summernote"&gt;Hello, universe!&lt;/div&gt;</code></pre>

    <p class="tx-11 tx-uppercase tx-spacing-2 mg-t-40 mg-b-10 tx-gray-600">Javascript Code</p>
    <pre class="mg-b-0"><code class="javascript pd-20">$('#summernote').summernote(&#123;
height: 150
&#125;)</code></pre>

  </div><!-- kt-pagebody -->
  <div class="kt-footer">
    <span>Copyright &copy;. All Rights Reserved. Katniss Responsive Bootstrap 4 Admin Dashboard.</span>
    <span>Created by: ThemePixels, Inc.</span>
  </div><!-- kt-footer -->
</div><!-- kt-mainpanel -->