  <!-- ##### MAIN PANEL ##### -->
  <div class="kt-mainpanel">
    <div class="kt-pagetitle">
      <h5>Basic Tables</h5>
    </div><!-- kt-pagetitle -->

    <div class="kt-pagebody">

      <div class="card pd-20 pd-sm-50">
        <h6 class="card-body-title">Basic Table</h6>
        <p class="mg-b-20 mg-sm-b-30">Using the most basic table markup.</p>

        <div class="table-responsive">
          <table class="table mg-b-0">
            <thead>
              <tr>
                <th>
                  <label class="ckbox mg-b-0">
                    <input type="checkbox"><span></span>
                  </label>
                </th>
                <th>Name</th>
                <th>Position</th>
                <th>Salary</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <label class="ckbox mg-b-0">
                    <input type="checkbox"><span></span>
                  </label>
                </td>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>$320,800</td>
              </tr>
              <tr>
                <td>
                  <label class="ckbox mg-b-0">
                    <input type="checkbox"><span></span>
                  </label>
                </td>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>$170,750</td>
              </tr>
              <tr>
                <td>
                  <label class="ckbox mg-b-0">
                    <input type="checkbox"><span></span>
                  </label>
                </td>
                <td>Ashton Cox</td>
                <td>Junior Technical Author</td>
                <td>$86,000</td>
              </tr>
              <tr>
                <td>
                  <label class="ckbox mg-b-0">
                    <input type="checkbox"><span></span>
                  </label>
                </td>
                <td>Cedric Kelly</td>
                <td>Senior Javascript Developer</td>
                <td>$433,060</td>
              </tr>
              <tr>
                <td>
                  <label class="ckbox mg-b-0">
                    <input type="checkbox"><span></span>
                  </label>
                </td>
                <td>Airi Satou</td>
                <td>Accountant</td>
                <td>$162,700</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div><!-- card -->

      
      <div class="card pd-20 pd-sm-40 mg-t-50">
        <h6 class="card-body-title">Striped Rows</h6>
        <p class="mg-b-20 mg-sm-b-30">Add zebra-striping to any table row.</p>

        <div class="table-responsive">
          <table class="table table-striped mg-b-0">
            <thead>
              <tr>
                <th>
                  <label class="ckbox mg-b-0">
                    <input type="checkbox"><span></span>
                  </label>
                </th>
                <th>Name</th>
                <th>Position</th>
                <th>Salary</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <label class="ckbox mg-b-0">
                    <input type="checkbox"><span></span>
                  </label>
                </td>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>$320,800</td>
              </tr>
              <tr>
                <td>
                  <label class="ckbox mg-b-0">
                    <input type="checkbox"><span></span>
                  </label>
                </td>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>$170,750</td>
              </tr>
              <tr>
                <td>
                  <label class="ckbox mg-b-0">
                    <input type="checkbox"><span></span>
                  </label>
                </td>
                <td>Ashton Cox</td>
                <td>Junior Technical Author</td>
                <td>$86,000</td>
              </tr>
              <tr>
                <td>
                  <label class="ckbox mg-b-0">
                    <input type="checkbox"><span></span>
                  </label>
                </td>
                <td>Cedric Kelly</td>
                <td>Senior Javascript Developer</td>
                <td>$433,060</td>
              </tr>
              <tr>
                <td>
                  <label class="ckbox mg-b-0">
                    <input type="checkbox"><span></span>
                  </label>
                </td>
                <td>Airi Satou</td>
                <td>Accountant</td>
                <td>$162,700</td>
              </tr>
            </tbody>
          </table>
        </div><!-- table-responsive -->
      </div><!-- card -->

     

      <div class="card pd-20 pd-sm-40 mg-t-50">
        <h6 class="card-body-title">Bordered Table</h6>
        <p class="mg-b-20 mg-sm-b-30">Add borders on all sides of the table and cells.</p>

        <div class="table-responsive">
          <table class="table table-bordered mg-b-0">
            <thead>
              <tr>
                <th>
                  <label class="ckbox mg-b-0">
                    <input type="checkbox"><span></span>
                  </label>
                </th>
                <th>Name</th>
                <th>Position</th>
                <th>Salary</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <label class="ckbox mg-b-0">
                    <input type="checkbox"><span></span>
                  </label>
                </td>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>$320,800</td>
              </tr>
              <tr>
                <td>
                  <label class="ckbox mg-b-0">
                    <input type="checkbox"><span></span>
                  </label>
                </td>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>$170,750</td>
              </tr>
              <tr>
                <td>
                  <label class="ckbox mg-b-0">
                    <input type="checkbox"><span></span>
                  </label>
                </td>
                <td>Ashton Cox</td>
                <td>Junior Technical Author</td>
                <td>$86,000</td>
              </tr>
              <tr>
                <td>
                  <label class="ckbox mg-b-0">
                    <input type="checkbox"><span></span>
                  </label>
                </td>
                <td>Cedric Kelly</td>
                <td>Senior Javascript Developer</td>
                <td>$433,060</td>
              </tr>
              <tr>
                <td>
                  <label class="ckbox mg-b-0">
                    <input type="checkbox"><span></span>
                  </label>
                </td>
                <td>Airi Satou</td>
                <td>Accountant</td>
                <td>$162,700</td>
              </tr>
            </tbody>
          </table>
        </div><!-- table-responsive -->
      </div><!-- card -->

    

      <div class="card pd-20 pd-sm-40 mg-t-50">
        <h6 class="card-body-title">Hoverable Rows</h6>
        <p class="mg-b-20 mg-sm-b-30">To enable a hover state on table rows.</p>

        <div class="table-responsive">
          <table class="table table-hover mg-b-0">
            <thead>
              <tr>
                <th>
                  <label class="ckbox mg-b-0">
                    <input type="checkbox"><span></span>
                  </label>
                </th>
                <th>Name</th>
                <th>Position</th>
                <th>Salary</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <label class="ckbox mg-b-0">
                    <input type="checkbox"><span></span>
                  </label>
                </td>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>$320,800</td>
              </tr>
              <tr>
                <td>
                  <label class="ckbox mg-b-0">
                    <input type="checkbox"><span></span>
                  </label>
                </td>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>$170,750</td>
              </tr>
              <tr>
                <td>
                  <label class="ckbox mg-b-0">
                    <input type="checkbox"><span></span>
                  </label>
                </td>
                <td>Ashton Cox</td>
                <td>Junior Technical Author</td>
                <td>$86,000</td>
              </tr>
              <tr>
                <td>
                  <label class="ckbox mg-b-0">
                    <input type="checkbox"><span></span>
                  </label>
                </td>
                <td>Cedric Kelly</td>
                <td>Senior Javascript Developer</td>
                <td>$433,060</td>
              </tr>
              <tr>
                <td>
                  <label class="ckbox mg-b-0">
                    <input type="checkbox"><span></span>
                  </label>
                </td>
                <td>Airi Satou</td>
                <td>Accountant</td>
                <td>$162,700</td>
              </tr>
            </tbody>
          </table>
        </div><!-- table-responsive -->
      </div><!-- card -->

   

      <div class="card pd-20 pd-sm-40 mg-t-50">
        <h6 class="card-body-title">Color Variations for Table Header</h6>
        <p class="mg-b-20 mg-sm-b-30">A custom color for the head of the tables.</p>

        <div class="table-responsive">
          <table class="table table-hover table-bordered mg-b-0">
            <thead class="bg-info">
              <tr>
                <th>
                  <label class="ckbox mg-b-0">
                    <input type="checkbox"><span></span>
                  </label>
                </th>
                <th>Name</th>
                <th>Position</th>
                <th>Salary</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <label class="ckbox mg-b-0">
                    <input type="checkbox"><span></span>
                  </label>
                </td>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>$320,800</td>
              </tr>
              <tr>
                <td>
                  <label class="ckbox mg-b-0">
                    <input type="checkbox"><span></span>
                  </label>
                </td>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>$170,750</td>
              </tr>
              <tr>
                <td>
                  <label class="ckbox mg-b-0">
                    <input type="checkbox"><span></span>
                  </label>
                </td>
                <td>Ashton Cox</td>
                <td>Junior Technical Author</td>
                <td>$86,000</td>
              </tr>
            </tbody>
          </table>
        </div><!-- table-responsive -->

        <div class="table-responsive mg-t-25">
          <table class="table table-hover table-bordered mg-b-0">
            <thead class="bg-danger">
              <tr>
                <th>
                  <label class="ckbox mg-b-0">
                    <input type="checkbox"><span></span>
                  </label>
                </th>
                <th>Name</th>
                <th>Position</th>
                <th>Salary</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <label class="ckbox mg-b-0">
                    <input type="checkbox"><span></span>
                  </label>
                </td>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>$320,800</td>
              </tr>
              <tr>
                <td>
                  <label class="ckbox mg-b-0">
                    <input type="checkbox"><span></span>
                  </label>
                </td>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>$170,750</td>
              </tr>
              <tr>
                <td>
                  <label class="ckbox mg-b-0">
                    <input type="checkbox"><span></span>
                  </label>
                </td>
                <td>Ashton Cox</td>
                <td>Junior Technical Author</td>
                <td>$86,000</td>
              </tr>
            </tbody>
          </table>
        </div><!-- table-responsive -->
      </div><!-- card -->

   

      <div class="card pd-20 pd-sm-40 mg-t-50">
        <h6 class="card-body-title">Full Color Variations for Table</h6>
        <p class="mg-b-20 mg-sm-b-30">A custom color for the head of the tables.</p>

        <div class="table-responsive">
          <table class="table table-hover table-bordered table-primary mg-b-0">
            <thead>
              <tr>
                <th>
                  <label class="ckbox mg-b-0">
                    <input type="checkbox"><span></span>
                  </label>
                </th>
                <th>Name</th>
                <th>Position</th>
                <th>Salary</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <label class="ckbox mg-b-0">
                    <input type="checkbox"><span></span>
                  </label>
                </td>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>$320,800</td>
              </tr>
              <tr>
                <td>
                  <label class="ckbox mg-b-0">
                    <input type="checkbox"><span></span>
                  </label>
                </td>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>$170,750</td>
              </tr>
              <tr>
                <td>
                  <label class="ckbox mg-b-0">
                    <input type="checkbox"><span></span>
                  </label>
                </td>
                <td>Ashton Cox</td>
                <td>Junior Technical Author</td>
                <td>$86,000</td>
              </tr>
            </tbody>
          </table>
        </div><!-- table-responsive -->

        <div class="table-responsive mg-t-25">
          <table class="table table-hover table-bordered table-purple mg-b-0">
            <thead>
              <tr>
                <th>
                  <label class="ckbox mg-b-0">
                    <input type="checkbox"><span></span>
                  </label>
                </th>
                <th>Name</th>
                <th>Position</th>
                <th>Salary</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <label class="ckbox mg-b-0">
                    <input type="checkbox"><span></span>
                  </label>
                </td>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>$320,800</td>
              </tr>
              <tr>
                <td>
                  <label class="ckbox mg-b-0">
                    <input type="checkbox"><span></span>
                  </label>
                </td>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>$170,750</td>
              </tr>
              <tr>
                <td>
                  <label class="ckbox mg-b-0">
                    <input type="checkbox"><span></span>
                  </label>
                </td>
                <td>Ashton Cox</td>
                <td>Junior Technical Author</td>
                <td>$86,000</td>
              </tr>
            </tbody>
          </table>
        </div><!-- table-responsive -->
      </div><!-- card -->


    </div><!-- kt-pagebody -->
    <div class="kt-footer">
      <span>Copyright &copy;. All Rights Reserved. Katniss Responsive Bootstrap 4 Admin Dashboard.</span>
      <span>Created by: ThemePixels, Inc.</span>
    </div><!-- kt-footer -->
  </div><!-- kt-mainpanel -->